.main{
    width: 250px;
    margin: 0 auto;
    margin-top: 200px;
    border: 2px solid;
    border-color: rgb(13, 202, 145);
    text-align: center;
}
.img {
    height: 130px;
    width: 130px;
    margin: 0 auto;
}
.img img {
   display: block; 
   width: 100%;
   margin: 10px auto;
}

.body{
    padding: 0px 20px;
}

.button button {
    padding: 5px 20px;
    display: block;
    margin: 10px auto;
    border: 1px solid rgb(10 204 146);
    border-radius: 15px;
    background: none;
}

.button button:hover {
    background-color: rgb(10 204 146);
    color: white;
}